<launch>

<!-- Define the generic arguments: -->
  <arg name="mac_adr0" default="00_06_66_74_40_DC" />
  <arg name="mac_adr1" default="00_06_66_E7_8A_C9" />
  <arg name="mac_adr2" default="00_06_66_E7_8E_64" />
  <arg name="mac_adr3" default="00_06_66_74_40_D2" />
  <arg name="mac_adr4" default="00_06_66_74_40_D3" />
  <arg name="scale" default="1" />
  <arg name="paper_width" default="500" />
  <arg name="paper_length" default="500" />
  <arg name="threshold" default="200" />
<!-- End of generic arguments: -->

<!-- Define the aggregation arguments: -->

 <!-- <arg name="name" default="1" />  -->

<!-- End of aggregation arguments: -->

<node name="cellulo_node_$(arg mac_adr0)" pkg="ros_cellulo_swarm" type="cellulo-ros-python.py" output="screen" args="$(arg mac_adr0) 50 50">
        <param name="macAddr" type="str" value="$(arg mac_adr0)" />
    </node>
<node name="cellulo_node_$(arg mac_adr1)" pkg="ros_cellulo_swarm" type="cellulo-ros-python.py" output="screen" args="$(arg mac_adr1) 400 50">
        <param name="macAddr" type="str" value="$(arg mac_adr1)" />
    </node>
<node name="cellulo_node_$(arg mac_adr2)" pkg="ros_cellulo_swarm" type="cellulo-ros-python.py" output="screen" args="$(arg mac_adr2) 50 400">
        <param name="macAddr" type="str" value="$(arg mac_adr2)" />
    </node>
<node name="cellulo_node_$(arg mac_adr3)" pkg="ros_cellulo_swarm" type="cellulo-ros-python.py" output="screen" args="$(arg mac_adr3) 400 400">
        <param name="macAddr" type="str" value="$(arg mac_adr3)" />
    </node>
<node name="cellulo_node_$(arg mac_adr4)" pkg="ros_cellulo_swarm" type="cellulo-ros-python.py" output="screen" args="$(arg mac_adr4) 200 200">
        <param name="macAddr" type="str" value="$(arg mac_adr4)" />
    </node>

    <node name="sensor_node_$(arg mac_adr0)" pkg="ros_cellulo_swarm" type="ros_cellulo_sensor" output="screen" args="$(arg mac_adr0) $(arg mac_adr1) $(arg mac_adr2) $(arg mac_adr3) $(arg mac_adr4) ">
        <param name="cellulo_num" type="int" value="1" />
        <param name="threshold" type="double" value="$(arg threshold)" />
        <param name="paper_width" type="double" value="$(arg paper_width)" />
        <param name="paper_length" type="double" value="$(arg paper_length)" />
        <param name="scale" type="double" value="$(arg scale)" />
    </node>

    <node name="sensor_node_$(arg mac_adr1)" pkg="ros_cellulo_swarm" type="ros_cellulo_sensor" output="screen" args="$(arg mac_adr0) $(arg mac_adr1) $(arg mac_adr2) $(arg mac_adr3) $(arg mac_adr4)">
        <param name="cellulo_num" type="int" value="2" />
        <param name="threshold" type="double" value="$(arg threshold)" />
        <param name="paper_width" type="double" value="$(arg paper_width)" />
        <param name="paper_length" type="double" value="$(arg paper_length)" />
        <param name="scale" type="double" value="$(arg scale)" />
    </node>

    <node name="sensor_node_$(arg mac_adr2)" pkg="ros_cellulo_swarm" type="ros_cellulo_sensor" output="screen" args="$(arg mac_adr0) $(arg mac_adr1) $(arg mac_adr2) $(arg mac_adr3) $(arg mac_adr4) ">
        <param name="cellulo_num" type="int" value="3" />
        <param name="threshold" type="double" value="$(arg threshold)" />
        <param name="paper_width" type="double" value="$(arg paper_width)" />
        <param name="paper_length" type="double" value="$(arg paper_length)" />
        <param name="scale" type="double" value="$(arg scale)" />
    </node>

    <node name="sensor_node_$(arg mac_adr3)" pkg="ros_cellulo_swarm" type="ros_cellulo_sensor" output="screen" args="$(arg mac_adr0) $(arg mac_adr1) $(arg mac_adr2) $(arg mac_adr3) $(arg mac_adr4)">
        <param name="cellulo_num" type="int" value="4" />
        <param name="threshold" type="double" value="$(arg threshold)" />
        <param name="paper_width" type="double" value="$(arg paper_width)" />
        <param name="paper_length" type="double" value="$(arg paper_length)" />
        <param name="scale" type="double" value="$(arg scale)" />
    </node>

    <node name="sensor_node_$(arg mac_adr4)" pkg="ros_cellulo_swarm" type="ros_cellulo_sensor" output="screen" args="$(arg mac_adr0) $(arg mac_adr1) $(arg mac_adr2) $(arg mac_adr3) $(arg mac_adr4)">
        <param name="cellulo_num" type="int" value="5" />
        <param name="threshold" type="double" value="$(arg threshold)" />
        <param name="paper_width" type="double" value="$(arg paper_width)" />
        <param name="paper_length" type="double" value="$(arg paper_length)" />
        <param name="scale" type="double" value="$(arg scale)" />
    </node>

    <node name="aggregation_node_$(arg mac_adr0)" pkg="ros_cellulo_practical" type="ros_cellulo_aggregation" output="screen" args="$(arg mac_adr0)">
        <!--<param name="name" type="double" value="$(arg name)" />  -->

        <param name="scale" type="double" value="$(arg scale)" />
    </node>

    <node name="aggregation_node_$(arg mac_adr1)" pkg="ros_cellulo_practical" type="ros_cellulo_aggregation" output="screen" args="$(arg mac_adr1)">
        <!--<param name="name" type="double" value="$(arg name)" />  -->

        <param name="scale" type="double" value="$(arg scale)" />
    </node>

    <node name="aggregation_node_$(arg mac_adr2)" pkg="ros_cellulo_practical" type="ros_cellulo_aggregation" output="screen" args="$(arg mac_adr2)">
        <!--<param name="name" type="double" value="$(arg name)" />  -->

        <param name="scale" type="double" value="$(arg scale)" />
    </node>

    <node name="aggregation_node_$(arg mac_adr3)" pkg="ros_cellulo_practical" type="ros_cellulo_aggregation" output="screen" args="$(arg mac_adr3)">
        <!--<param name="name" type="double" value="$(arg name)" />  -->

        <param name="scale" type="double" value="$(arg scale)" />
    </node>

    <node name="aggregation_node_$(arg mac_adr4)" pkg="ros_cellulo_practical" type="ros_cellulo_aggregation" output="screen" args="$(arg mac_adr4)">
        <!--<param name="name" type="double" value="$(arg name)" />  -->

        <param name="scale" type="double" value="$(arg scale)" />
    </node>

    <node pkg="tf" name= "tf_echo_$(arg mac_adr0)" type= "tf_echo" args="paper_world $(arg mac_adr0) 100" output="log" />
 

    <node pkg="tf" name= "tf_echo_$(arg mac_adr1)" type= "tf_echo" args="paper_world $(arg mac_adr1) 100" output="log" />
 

    <node pkg="tf" name= "tf_echo_$(arg mac_adr2)" type= "tf_echo" args="paper_world $(arg mac_adr2) 100" output="log" />
 

    <node pkg="tf" name= "tf_echo_$(arg mac_adr3)" type= "tf_echo" args="paper_world $(arg mac_adr3) 100" output="log" />
 
    <node pkg="tf" name= "tf_echo_$(arg mac_adr4)" type= "tf_echo" args="paper_world $(arg mac_adr4) 100" output="log" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="paper_world_broadcaster" args="0 0 0 0 0 3.1415 base_footprint paper_world" /> 

<!-- launching rviz  -->
    <arg name="model" default="$(find ros_cellulo_swarm)/urdf/cellulo.urdf"/>
    <arg name="gui" default="true" />
    <arg name="config_file" value="$(find ros_cellulo_swarm)/rviz/cellulo_rviz.rviz"/>
    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(arg config_file)" />

</launch>
 <!-- THE END  -->
